<div class="container">

<div class="panel-group heading-group center-discussions" >
<div class="panel panel-info heading">
<div class="panel-heading heading-panel">
<i class="fa fa-comments-o fa-4x" aria-hidden="true"></i>
 {{requiredPosts}} Topics</div>

<div class="panel-body heading-body">{{#link-to 'discovery.latest' }}{{i18n 'first.discussion'}}{{/link-to}}
</div>
 </div>
 </div>
 </div>
