
        <div class="modal-header">
          <a class="close" data-ember-action="1000" onclick="hideModalKS();"><i class="fa fa-times"></i></a>
          <h3>Keyboard Shortcuts</h3>
          <div class="clearfix"></div>
        </div>
        <div id="modal-alert" style="display: none;"></div>
        <div id="ember1541" class="ember-view"><div id="keyboard-shortcuts-help" class="modal-body">
    <div class="row">
      <div class="span6">
        <h4>Jump To</h4>
        <ul>
          <li><b>g</b>, <b>h</b> Home</li>
          <li><b>g</b>, <b>l</b> Latest</li>
          <li><b>g</b>, <b>n</b> New</li>
          <li><b>g</b>, <b>u</b> Unread</li>
          <li><b>g</b>, <b>c</b> Categories</li>
          <li><b>g</b>, <b>t</b> Top</li>
          <li><b>g</b>, <b>b</b> Bookmarks</li>
          <li><b>g</b>, <b>p</b> Profile</li>
          <li><b>g</b>, <b>m</b> Messages</li>
        </ul>
        <h4>Navigation</h4>
        <ul>
          <li><b>u</b> Back</li>
          <li><b>#</b> Go to post #</li>
          <li><b>k</b>/<b>j</b> Move selection ↑ ↓</li>
          <li><b>o</b> or <b>Enter</b> Open selected topic</li>
          <li><b>shift</b>+<b>j</b>/<b>shift</b>+<b>k</b> Next/previous section</li>
        </ul>
      </div>
      <div class="span6">
        <h4>Application</h4>
        <ul>
          <li><b>c</b> Create a new topic</li>
          <li><b>=</b> Open hamburger menu</li>
          <li><b>p</b> Open user menu</li>
          <li><b>.</b> Show updated topics</li>
          <li><b>/</b> Search</li>
          <li><b>?</b> Open keyboard help</li>
          <li><b>x</b>, <b>r</b> Dismiss New/Posts</li>
          <li><b>x</b>, <b>t</b> Dismiss Topics</li>
          <li><b>shift</b>+<b>z</b> <b>shift</b>+<b>z</b> Log Out</li>
        </ul>
      </div>
      <div class="span6">
        <h4>Actions</h4>
        <ul>
          <li><b>f</b> Toggle bookmark topic</li>
          <li><b>shift</b>+<b>p</b> Pin/Unpin topic</li>
          <li><b>shift</b>+<b>s</b> Share topic</li>
          <li><b>s</b> Share post</li>
          <li><b>t</b> Reply as linked topic</li>
          <li><b>shift</b>+<b>r</b> Reply to topic</li>
          <li><b>r</b> Reply to post</li>
          <li><b>q</b> Quote post</li>
          <li><b>l</b> Like post</li>
          <li><b>!</b> Flag post</li>
          <li><b>b</b> Bookmark post</li>
          <li><b>e</b> Edit post</li>
          <li><b>d</b> Delete post</li>
          <li><b>m</b>, <b>m</b> Mute topic</li>
          <li><b>m</b>, <b>r</b> Regular (default) topic</li>
          <li><b>m</b>, <b>t</b> Track topic</li>
          <li><b>m</b>, <b>w</b> Watch topic</li>
        </ul>
      </div>
    </div>
  </div></div>
